p, h1, h2, h3, ul, ol, a, blockquote, table {
	font-family: sans-serif;
	color: #daba69;
	line-height: 30px;
}

pre, code {
	font-family: monospace;
	color: #daba69;
	line-height: 30px;
	background-color: #000000;
	padding: 1px 8px;
	border-radius: 10px;
    white-space: pre-wrap;
}

hr {
    border: 1px solid #daba69;
}

table {
	border-collapse: collapse;
	width: 100%;
	background-color: #0f0d0c;
	margin-top: 20px;
	margin-bottom: 20px;
}

th {
	border: 1px solid #daba69;
	background-color: black;
    padding: 10px 10px;
}
td {
	border: 1px solid #daba69;
	padding: 5px 10px;
}
td:first-child {
	width: 15%;
}
tr:hover {
	background-color: black;
}

blockquote {
	line-height: 25px;
	background-color: #000000;
	padding: 1px 8px;
	border-radius: 10px;
}

@media only screen and (min-width:1050px) {
	div#center-div {
		max-width: 1000px;
		margin: auto;
	}
	body {
		background: linear-gradient(90deg, #0f0d0c, #0f0d0c calc(50% - 525px), #1e1b19 calc(50% - 525px), #1e1b19 calc(50% + 525px), #0f0d0c calc(50% + 525px));
	}
}
@media only screen and (min-width:850px) and (max-width:1050px) {
	div#center-div {
		max-width: 800px;
		margin: auto;
	}
	body {
		background: linear-gradient(90deg, #0f0d0c, #0f0d0c calc(50% - 425px), #1e1b19 calc(50% - 425px), #1e1b19 calc(50% + 425px), #0f0d0c calc(50% + 425px));
	}
}
@media only screen and (min-width:650px) and (max-width:850px) {
	div#center-div {
		max-width: 600px;
		margin: auto;
	}
	body {
		background: linear-gradient(90deg, #0f0d0c, #0f0d0c calc(50% - 325px), #1e1b19 calc(50% - 325px), #1e1b19 calc(50% + 325px), #0f0d0c calc(50% + 325px));
	}
}
@media only screen and (max-width:650px) {
	div#center-div {
		margin: auto;
		max-width: 95%;
	}
	body {
		background: #1e1b19;
	}
}
