@media only screen and (min-width:650px) {
    body {
        display: grid;
        grid-template-rows: 150px;
        grid-template-areas:	"navbar"
                                "main";
        max-width: 2000px;
        margin: auto;
    }
    main {
        grid-area: main;
        max-width: 2000px;
        margin: auto;
    }
    
    .navbar-div {
        display: grid;
        background-color: black;
        width: 600px;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 60px 59px;
        border-radius: 10px;
        align-content: center center;
        grid-template-areas:	"z1 z2 z3 z4"
                                "z5 z6 z7 z8";
        margin: auto;
        border: 1px solid #daba69;
    }
    .navbar-item {
        width: 148px;
        height: 30px;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        line-height: 30px;
        font-weight: bold;
        margin: auto;
        font-family: sans-serif;
        color: #daba69;
    }
    span.navbar-item {
        position: relative;
        top: -10px;
    }
    .navbar-item-container {
        width: 150px;
        height: 59px;
        position: relative;
        border-top: 1px solid #daba69;
        border-left: 1px solid #daba69;
        position: relative;
        top: -1px;
        left: -1px;
    }
    .navbar-icon {
        width: 45px;
        height: 45px;
        position: relative;
        left: -5px;
        top: 8px;
    }
    
    .big1 {
        grid-area: z1;
        border-radius: 10px 0px 0px 0px;
    }
    .big2 {
        grid-area: z2;
    }
    .big3 {
        grid-area: z3;
    }
    .big4 {
        grid-area: z4;
        border-radius: 0px 10px 0px 0px;
    }
    .big5 {
        grid-area: z5;
        border-radius: 0px 0px 0px 10px;
    }
    .big6 {
        grid-area: z6;
    }
    .big7 {
        grid-area: z7;
    }
    .big8 {
        grid-area: z8;
        border-radius: 0px 0px 10px 0px;
    }
    .big0 {
        display: none;
    }
}

@media only screen and (min-width:500px) and (max-width: 650px) {
    body {
        display: grid;
        grid-template-rows: 210px;
        grid-template-areas:	"navbar"
                                "main";
        max-width: 2000px;
        margin: auto;
    }
    main {
        grid-area: main;
        max-width: 2000px;
        margin: auto;
    }
    
    .navbar-div {
        display: grid;
        background-color: black;
        width: 450px;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 60px 60px 59px;
        border-radius: 10px;
        align-content: center center;
        grid-template-areas:	"z1	z2	z3"
                                "z4	z5	z6"
                                "z7	z8	z9";
        margin: auto;
        border: 1px solid #daba69;
    }
    .navbar-item {
        width: 150px;
        height: 30px;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        line-height: 30px;
        font-weight: bold;
        margin: auto;
        font-family: sans-serif;
        color: #daba69;
    }
    span.navbar-item {
        position: relative;
        top: -10px;
    }
    span.navbar-item-no-logo {
        position: relative;
        top: 20px;
    }
    .navbar-item-container {
        width: 150px;
        height: 59px;
        border-top: 1px solid #daba69;
        border-left: 1px solid #daba69;
        position: relative;
        top: -1px;
        left: -1px;
    }
    .navbar-icon {
        width: 45px;
        height: 45px;
        position: relative;
        left: -5px;
        top: 8px;
    }
    .navbar-icon#goc-logo {
        left: -10px;
    }
				
    .medium1 {
        grid-area: z1;
        border-radius: 10px 0px 0px 0px;
    }
    .medium2 {
        grid-area: z2;
    }
    .medium3 {
        grid-area: z3;
        border-radius: 0px 10px 0px 0px;
    }
    .medium4 {
        grid-area: z4;
    }
    .medium5 {
        grid-area: z5;
    }
    .medium6 {
        grid-area: z6;
    }
    .medium7 {
        grid-area: z7;
        border-radius: 0px 0px 0px 10px;
    }
    .medium8 {
        grid-area: z8;
    }
    .medium9 {
        grid-area: z9;
        border-radius: 0px 0px 10px 0px;
    }
    .medium0 {
        display: none;
    }
}

@media only screen and (min-width:350px) and (max-width: 500px) {
    body {
        display: grid;
        grid-template-rows: 270px;
        grid-template-areas:	"navbar"
                                "main";
        max-width: 2000px;
        margin: auto;
    }
    main {
        grid-area: main;
        max-width: 2000px;
        margin: auto;
    }
    
    .navbar-div {
        display: grid;
        background-color: black;
        width: 300px;
        grid-template-columns: 150px 150px;
        grid-template-rows: 60px 60px 60px 60px;
        border-radius: 10px;
        align-content: center center;
        grid-template-areas:	"z1	z2"
                                "z3	z4"
                                "z5	z6"
                                "z7	z8";
        margin: auto;
        border: 1px solid #daba69;
    }
    .navbar-item {
        width: 148px;
        height: 30px;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        line-height: 30px;
        font-weight: bold;
        margin: auto;
        font-family: sans-serif;
        color: #daba69;
    }
    span.navbar-item {
        position: relative;
        top: -10px;
    }
    span.navbar-item-no-logo {
        position: relative;
        top: 20px;
    }
    .navbar-item-container {
        width: 150px;
        height: 60px;
        position: relative;
        border-top: 1px solid #daba69;
        border-left: 1px solid #daba69;
        position: relative;
        top: -1px;
        left: -1px;
    }
    .navbar-icon {
        width: 45px;
        height: 45px;
        position: relative;
        left: -5px;
        top: 8px;
    }
    .navbar-icon#goc-logo {
        left: -10px;
    }
    
    .small1 {
        grid-area: z1;
        border-radius: 10px 0px 0px 0px;
    }
    .small2 {
        grid-area: z2;
        border-radius: 0px 10px 0px 0px;
    }
    .small3 {
        grid-area: z3;
    }
    .small4 {
        grid-area: z4;
    }
    .small5 {
        grid-area: z5;
    }
    .small6 {
        grid-area: z6;
    }
    .small7 {
        grid-area: z7;
        border-radius: 0px 0px 0px 10px;
    }
    .small8 {
        grid-area: z8;
        border-radius: 0px 0px 10px 0px;
    }
    .small0 {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    body {
        display: grid;
        grid-template-areas: "main";
        max-width: 2000px;
        margin: auto;
    }
    main {
        grid-area: main;
        max-width: 2000px;
        margin: auto;
    }
    
    .navbar-div {
        display: none;
    }
}
