* {
  background-color: #1E1B19;
  color: #DABA69;
  font-family: sans-serif;
}

blockquote {
  background-color: #000000;
  padding: 6px 8px;
  border-radius: 10px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li.navbar {
  float: left;
  border-right: 1px solid #DABA69;
}
li.navbar:last-child {
  border-right: none;
}
li.navbar a.navbar {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #000000;
}
li.navbar a.navbar:hover {
  background-color: #1E1B19;
}

li.logo {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  float: right;
  border-right: none;
  text-align: center;
}
img.logo {
  height: 40px;
  background-color: #000000;
  text-align: center;
}
