body {
  padding-left: 10px;
  background-color: #1E1B19;
  font-family: sans-serif;
}
* {
  color: #DABA69;
  line-height: 30px;
}
blockquote {
  background-color: #000000;
  padding: 6px 8px;
  border-radius: 10px;
  max-width: 800px;
}
hr {
  border: 1px solid #DABA69;
  max-width: 1000px;
  float: left;
}
p {
  max-width: 1000px;
}

ul {
  max-width: 1000px;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  border-radius: 10px;
  max-width: none;
}
li.navbar {
  width: 130px;
  text-align: center;
  float: left;
  border-left: 1px solid #DABA69;
  background-color: #000000;
}
li.navbar:first-child {
  border-left: none;
}
a.navbar {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
a.navbar:hover {
  background-color: #1E1B19;
}

li.logo {
  float: right;
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
img.logo {
  justify-content: center;
  align-items: center;
  float: right;
  height: 40px;
}

input {
  height: 40px;
  background-color: #000000;
  padding: 6px 8px;
  border-radius: 10px;
}
select {
  height: 40px;
  background-color: #000000;
  padding: 6px 8px;
  border-radius: 10px;
}
