			p, h1, ol, a {
				font-family: sans-serif;
				color: #daba69;
				line-height: 30px;
			}
			.spoiler {
				background-color: #000000;
				color: #000000;
			}
			.spoiler:hover {
				background-color: #1E1B19;
				color: #DABA69;
			}
			button {
				font-family: sans-serif;
				color: #daba69;
				height: 40px;
				background-color: #000000;
				padding: 6px 8px;
				border-radius: 10px;
			}
			.archive {
				display: grid;
				background-color: black;
				grid-template-rows: 100%;
				grid-template-columns: 50% 50%;
				width: 100%;
				height: 280px;
				grid-template-areas: "video bracket";
			}
			.video {
				grid-area: video;
				width: 100%;
				height: 100%;
			}
			.bracket {
				grid-area: bracket;
				width: 100%;
				height: 100%;
			}
			
			@media only screen and (min-width:1050px) {
				div#center-div {
					max-width: 1000px;
					margin: auto;
				}
				body {
					background: linear-gradient(90deg, #100e0d, #100e0d calc(50% - 525px), #1e1b19 calc(50% - 525px), #1e1b19 calc(50% + 525px), #100e0d calc(50% + 525px));
				}
			}
			@media only screen and (min-width:850px) and (max-width:1050px) {
				div#center-div {
					max-width: 800px;
					margin: auto;
				}
				body {
					background: linear-gradient(90deg, #100e0d, #100e0d calc(50% - 425px), #1e1b19 calc(50% - 425px), #1e1b19 calc(50% + 425px), #100e0d calc(50% + 425px));
				}
			}
			@media only screen and (min-width:650px) and (max-width:850px) {
				div#center-div {
					max-width: 600px;
					margin: auto;
				}
				body {
					background: linear-gradient(90deg, #100e0d, #100e0d calc(50% - 325px), #1e1b19 calc(50% - 325px), #1e1b19 calc(50% + 325px), #100e0d calc(50% + 325px));
				}
			}
			@media only screen and (min-width:500px) and (max-width:650px) {
				div#center-div {
					max-width: 450px;
					margin: auto;
				}
				body {
					background: linear-gradient(90deg, #100e0d, #100e0d calc(50% - 250px), #1e1b19 calc(50% - 250px), #1e1b19 calc(50% + 250px), #100e0d calc(50% + 250px));
				}
			}
			@media only screen and (min-width:350px) and (max-width:500px) {
				div#center-div {
					max-width: 300px;
					margin: auto;
				}
				body {
					background: linear-gradient(90deg, #100e0d, #100e0d calc(50% - 175px), #1e1b19 calc(50% - 175px), #1e1b19 calc(50% + 175px), #100e0d calc(50% + 175px));
				}
			}
			@media only screen and (max-width:350px) {
				div#center-div {
					max-width: 90%;
					margin: auto;
				}
				body {
					background-color: #1e1b19;
				}
			}
